<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form class="d-flex" method="post" action="/contact/search">
    <input class="form-control me-2" name="Search" type="search" placeholder="Search" id="Search" >
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
    <table>
        <tr>
            <td>nom</td>
            <td>phone</td>
        </tr>
         {% for item in data %}

        <tr>
            <td>{{ item.FullName }}</td>
            <td>{{ item.Phone }}</td>
             <td><a href="/contact/delet/{{item._id}}">Delete</a></td>
             <td><a href="/contact/update/{{item._id}}">Update</a></td>
             </tr>
           {% endfor %}

       
    </table>
</body>
</html>